@import "../../styles/mixins.scss";

.selected {
  &-container {
    max-width: 1920px;
    margin: 0 auto;
    padding: rem(40) 0;
  }
  &__title {
    span {
      font-size: 1rem;
      padding-left: 1rem;
      font-weight: normal;
    }
  }
}
